<nav class="navbar">
  <i class="fa-regular fa-calendar-days" style="color: #267b6f;"></i>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/workers">Workers</a></li>
    <li><a href="/shifts">Shifts</a></li>
  </ul>
</nav>
