<div class='container'>
  <h3>Shift of <%= @shift.start_date.strftime("%d %B %Y") %></h3>
  <div class='items'>
  <p>Assigned to: <%= @shift.worker.first_name %>, <%= @shift.worker.status %></p>
  </div>
</div>
