.container-form {
  margin-top: 60px;
}
.form {
  border: 0.5px solid #6d6d6d;
  border-radius: 4px;
  padding: 20px;
  display: inline-block;
  text-align: right;
}

.field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.action {
  text-align: center;
}
