.navbar {
  background-color: #E0E8E7;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}
.navbar a:hover {
 font-weight: bold;
}

.navbar img {
  width: 35px;
  height: auto;
  margin: 4px;
  vertical-align: middle;
  float: left;
}
